<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Fire M2</title>{% endblock %}
</head>
<body>
    
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<!-- Somewhere in the below lines the CSS causes x axis overflow scrolling. find and fix -->
    <div class = "bigTitle">FIRE-M<p class = "sup">2</p> </div>
    <br>
    <div class = "subTitle">First Responder Mission Management</div>

    <div class = "mapWrapper">
        <div class ="map" id="map"></div>
    </div>
    {% block sidebar %}
    
<!-- Change below block to redirect to the login page with ?next={{request.path}}
instead of a static link -->

    {% if user.is_authenticated %}
        <div>User: {{ user.get_username }}</div>
        <div><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></div>   
    {% else %}
        <div><a href="{% url 'login'%}?next={{request.path}}">Login</a></div>   
        {% endif %} 
    
    {% endblock %}
    {% block content %}
    {% endblock %}

    <script>

    function myMap() {
      var mapCanvas = document.getElementById("map");
      var mapOptions = {

        center: new google.maps.LatLng(38.434046,-74.340284),
        zoom:8,
        mapTypeId:google.maps.MapTypeId.SATELLITE,
        mapTypeControl: false,
        streetViewControl: false,
        zoomControl: false,
        scaleControl: false,
        rotateControl: false,
        fullscreenControl: false
      
    };

      var map = new google.maps.Map(mapCanvas,mapOptions);
    }
    </script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbNu4nnoEfW9vB55Ns4Ud1jqxeLH13qpQ&callback=myMap"></script>

    <div class = "footer">Developed by First Responder Framework Improvement Researchers</div><!-- /footer -->

</body>
</html>