<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Fire M2</title>{% endblock %}
</head>
<body>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<!-- Somewhere in the below lines the CSS causes x axis overflow scrolling. find and fix -->
    <div class = "bigTitle">FIRE-M<p class = "sup">2</p> </div>
    <br>
    <div class = "subTitle">First Responder Mission Management</div>

    {% block sidebar %}
    
    {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
    {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
        {% endif %} 
    </ul>
    
    {% endblock %}
    {% block content %}    
    {% endblock %}

    <div class = "footer">Powered by First Responder Framework Improvement Researchers</div><!-- /footer -->

</body>
</html>