
{% extends "base_dashboard.html" %}

{% block content %}

    <div class = "headerPane">
        {% if user.is_authenticated %}
        <p class = "name">First Responder: {{ user.first_name }} {{ user.last_name }}</p>
        <div class = "logout"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></div>
          
          
         {% else %}
        <!--<div><a href="{% url 'login'%}?next={{request.path}}">Login</a></div>-->
        {% endif %} 
 
    <div class = "sidePane">Side Pane</div>

{% endblock %}
