*, *:before, *:after {
  box-sizing: border-box;
}

html {
    overflow-y: scroll;
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  background-color: transparent; /* #c1bdba */
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: rgb(150, 150, 150);
}


.form {
  position: fixed;
  right: 60px;
  top: 100px;
  padding: 30px;
  max-width: 300px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 15px 14px rgba(13, 17, 19, 0.3);
}

.bigTitle{
  position: fixed;
  z-index: 10;
  width: 20%;
  overflow: hidden;
  left: 20px;
  top: 10px;
  font-size: 40px;
  font-style: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 10px #000000;
  text-shadow: #777c62;
}

.subTitle{
  position: fixed;
  width: 100%;
  overflow: hidden;
  left: 380px;
  top: 20px;
  font-size: 20px;
}

.headerPane, .sidePane, .form {
  /*box-shadow: 0 4px 15px 7px rgba(7, 14, 19, 0.5);
  //background: rgba(87, 99, 102, 0.8);*/
  background: rgba(160, 179, 176, 0.35);
}

.headerPane{
  position: fixed;
  top: 12px;
  left: 200px;
  width: 86%;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
}

.sidePane{
  position: fixed;
  top: -70px;
  right: -134px;
  height: 620px;
  width: 20%;
  margin: 150px;
  /*border-radius: 4px;*/
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;

}