*, *:before, *:after {
  box-sizing: border-box;
}

html {
    overflow-y: scroll;
    background: url(BGimages/yacht.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  background-color: transparent; /* #c1bdba */
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #F5DD90;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #F76C5E;
}


.form {
  position: fixed;
  right: 60px;
  top: 100px;
  background: rgba(50, 67, 118, 0.85); 
  padding: 30px;
  max-width: 300px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.bigTitle{
  position: fixed;
  z-index: 10;
  width: 20%;
  overflow: hidden;
  left: 20px;
  top: 10px;
  font-size: 40px;
  font-style: bold;
  color: white;
  text-shadow: 2px 1px 10px #000000;
  text-shadow: #777c62;
}

.subTitle{
  position: fixed;
  width: 100%;
  overflow: hidden;
  left: 380px;
  top: 20px;
  font-size: 20px;
  
}

.headerPane, .sidePane{
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  background: rgba(165, 174, 180, 0.7);
}

.headerPane{
  position: fixed;
  top: 12px;
  left: 200px;
  width: 86%;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
}

.sidePane{
  position: fixed;
  top: -70px;
  right: -134px;
  height: 620px;
  width: 20%;
  margin: 150px;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.digital-clock {
  margin: auto;
  position: fixed;
  left : 1100px;
  top: 19px;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 60px;
  color: #ffffff;
  text-align: center;
  font: 30px/40px 'DIGITAL', Helvetica;
}
.chatbox{
  position: relative;
  height: 700px;
  top: 10px;
  margin: 20px;
  border-radius: 4px;
  background: rgba(19, 35, 47, 0.7);
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.headerPane{
  float: top;
  position: relative;
  top: 10px;
  border-radius: 4px;
  background: rgba(19, 35, 47, 0.7);
  padding: 10px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.chatPane{
  height: 550px;
  width: 75%;
  float: left;
  position: relative;
  border-radius: 4px;
  bottom: 10px;
  background: rgba(19, 35, 47, 0.7);
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.contactsPane{
  height: 550px;
  width: 20%;
  float: right;
  position: relative;
  bottom: 10px;
  border-radius: 4px;
  background: rgba(19, 35, 47, 0.7);
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.footerPane{
  margin: 150px;
  border-radius: 4px;
  background: rgba(19, 35, 47, 0.7);
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #CC4135;
  color: #ffffff;
}
.tab-group .active a {
  background: #F76C5E;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h2 {
    text-align: center;
    color: #F76C5E;
    font-weight: 1000;
    margin: 0;
}

span {
    color: #FFFFFF;
    font-weight: bold;
}

p {
    text-align: center;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
}

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #FFFFFF;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #7d7029;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.conversationMessagesPane{
  height: 400px;
  position: relative;
  margin-bottom: 40px;
}

.msgEntryPane{
  float: right;
  width: 80%;
  height: 65px;
  position: relative;
  margin-bottom: 10px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #F76C5E;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #CC4135 ;
}

.button-block {
  display: block;
  width: 100%;
}

.sendBtn{
  display: block;
  width: 20%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}


.footer{
  position: fixed;
  bottom: 6px;
  left: 525px;
  margin-top: 20px;
  color: white;
  text-shadow: 5px 5px 4px #000000;
}

.sup {
  position: absolute;
  top: -7px;
  left: 132px;
  bottom: 1ex; 
  font-size: 70%;
}

.mapWrapper{
  z-index: -1;
  top: 0px;
  left: 0px;
  position:fixed; 
  height: 100%; 
  width: 100%;
}

.map {
  width:100%;
  height: 100%;
}

.digital-clock {
  position: fixed;
  left : 1240px;
  top: -670px;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 60px;
  color: #ffffff;
  text-align: center;
  font: 25px/35px 'DIGITAL', Helvetica;
}

.utc-clock {
  left : 900px;
  top: -700px;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 60px;
  color: #ffffff;
  text-align: center;
  font: 30px/40px 'DIGITAL', Helvetica;
}