*, *:before, *:after {
  box-sizing: border-box;
}

html {
    overflow-y: scroll;
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  background-color: transparent; /* #c1bdba */
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: rgb(150, 150, 150);
}


.form {
  position: fixed;
  right: 60px;
  top: 100px;
  padding: 30px;
  max-width: 300px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 15px 14px rgba(13, 17, 19, 0.3);
}

.bigTitle{
  position: fixed;
  z-index: 10;
  width: 20%;
  overflow: hidden;
  left: 20px;
  top: 10px;
  font-size: 40px;
  font-style: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 10px #000000;
  text-shadow: #777c62;
}

.subTitle{
  position: fixed;
  width: 100%;
  overflow: hidden;
  left: 380px;
  top: 20px;
  font-size: 20px;
}

.headerPane, .sidePane, .form {
  /*box-shadow: 0 4px 15px 7px rgba(7, 14, 19, 0.5);
  //background: rgba(87, 99, 102, 0.8);*/
  background: rgba(160, 179, 176, 0.35);
}

.headerPane{
  position: fixed;
  top: 12px;
  left: 200px;
  width: 86%;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
}

.sidePane{
  position: fixed;
  top: -70px;
  right: -134px;
  height: 620px;
  width: 20%;
  margin: 150px;
  /*border-radius: 4px;*/
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: ;

}

.digital-clock {
  margin: auto;
  left : 1000px;
  top: 19px;
  bottom: 0;
  right: 0;
  width: 300px;
  text-align: center;
}

.chatbox{
  position: relative;
  height: 700px;
  top: 10px;
  margin: 20px;
  border-radius: 4px;
  background: rgba(136, 188, 228, 0.7);
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.headerPane{
  float: top;
  position: relative;
  top: 10px;
  border-radius: 4px;
  padding: 10px;
}

.chatPane{
  height: 550px;
  width: 75%;
  float: left;
  position: relative;
  border-radius: 4px;
  bottom: 10px;
  background: rgba(19, 35, 47, 0.7);
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.contactsPane{
  height: 550px;
  width: 20%;
  float: right;
  position: relative;
  bottom: 10px;
  border-radius: 4px;
  background: rgba(19, 35, 47, 0.7);
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.footerPane{
  margin: 150px;
  border-radius: 4px;
  background: rgba(19, 35, 47, 0.7);
  padding: 30px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #FFF7DD;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #CC4135;
  color: #FFF7DD;
}
.tab-group .active a {
  background: #F76C5E;
  color: #FFF7DD;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h2 {
    text-align: center;
    color: #F76C5E;
    font-weight: 1000;
    margin: 0;
}

span {
    color: #FFFFFF;
    font-weight: bold;
}

p {
    text-align: center;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
}

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #FFFFFF;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #FFF7DD;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #C19F2E;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.conversationMessagesPane{
  height: 400px;
  position: relative;
  margin-bottom: 40px;
}

.msgEntryPane{
  float: right;
  width: 80%;
  height: 65px;
  position: relative;
  margin-bottom: 10px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: rgb(168, 100, 100);
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: rgb(85, 85, 85) ;
}

.button-block {
  display: block;
  width: 100%;
}

.sendBtn{
  display: block;
  width: 20%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}


.footer{
  position: fixed;
  bottom: 10px;
  left: 525px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px #000000;
}

.sup {
  position: absolute;
  top: -7px;
  left: 132px;
  bottom: 1ex; 
  font-size: 70%;
  color: rgb(255, 255, 255);
}

.mapWrapper{
  z-index: -1;
  top: 0px;
  left: 0px;
  position:fixed; 
  height: 100%; 
  width: 100%;
}

.map {
  width:100%;
  height: 100%;
}

.logout {
  margin-top: 10px;
  position: absolute;
  padding: 5px 0;
  width: 9%;
  font-size: 10px;
  right: 10px;
  top: 700px;
  border-radius: 4px;
}

.eventObject{
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px 0;
  overflow: hidden;
  display:block;
  height:70px;
  background-color:rgb(153, 153, 153, .5);
  box-shadow: 0 4px 15px 14px rgba(13, 17, 19, 0.3);
  color: #FFF7DD;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a; 
}

::-webkit-scrollbar-corner{
  background: rgba(87, 99, 102, 0.8);
}

.dashboard-tab {
  z-index: 5;
  margin-top: 40px;
  list-style: none;
  padding: 0;
  margin: 10px 20px 20px 30px;
}

.dashboard-tab:after {
  content: "";
  display: table;
  clear: both;
}

.dashboard-tab li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.35);
  color: #FFF7DD;
  font-size: 15px;
  float: left;
  width: 17%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.statictab {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.45);
  color: #FFF7DD;
  font-size: 15px;
  float: left;
  width: 15%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.dashboard-tab li a:hover {
  background: #CC4135;
  color: #FFF7DD;
}
.dashboard-tab .active a {
  background: #F76C5E;
  color: #FFF7DD;
}
.dashboard-menu-buttons{
  width: 80%;
}

.dash-tab{
  display: none;
}

[class^="tabs-"]{
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.322); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #646464;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #646464;
  color: white;
}


#myBtn, #delBtn {
  position: relative;
  box-align: center;
  left: 140px;
  top: 10px;
  background-color: rgb(177, 177, 177); 
  border: none;
  color: white;
  padding: 10px 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: 12px;
}

.eventObject{
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px 0;
  overflow: hidden;
  display:block;
  height:70px;
  background-color:rgb(153, 153, 153, .5);
  box-shadow: 0 4px 15px 14px rgba(13, 17, 19, 0.3);
  color: #FFF7DD;
  text-decoration: none;
  font-size: 14px;
}

.modal-body{
  background-color:rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 15px 14px rgba(13, 17, 19, 0.3);
}

.FR_MissionAssignment,.FR_HistoricalData,.FR_newMission,.FR_ActiveMissions {
  display: block;
  /* display: none;  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  color: #FFF7DD;
  padding-top: 100px; /* Location of the box */
  left: 30px;
  top: 80px;
  width: 75%; /* Full width */
  height: 620px; /* same as side pane */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.322); /* Fallback color */
  background-color: rgba(45, 59, 59, 0.7); /* Black w/ opacity */
  box-shadow: inset 0px 0px 222px rgba(11, 14, 15, 0.9); 
}

.charts{
    position: relative;
    margin: auto;
    width: 75%;
    background-color: #f1f1c1;
}

.FR_MissionAssignment-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.missionObject{
  width: 40%;
  margin: 0px 0px 20px 650px;
}

.form-new-mission{
  z-index: 4;
  position: relative;
  left: 210px;
  top: 20px;
  padding: 30px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  background-color: rgba(45, 59, 59, 0.7); /* Black w/ opacity */
  box-shadow: 0 4px 15px 14px rgba(13, 17, 19, 0.8);
}

.eventInfo{
    text-align: center;
}

.eventInfo table{
    margin: 10px;
    width: 50%; 
    background-color: #f1f1c1;
    border: 1px solid white;
    display: inline-block;
}